In [1]:
import pandas as pd

In [3]:
pew = pd.read_csv('../data/pew.csv')

In [4]:
pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [5]:
# pd.melt()

In [6]:
# pew.melt()

In [9]:
pew_long = pew.melt(id_vars='religion', var_name='income', value_name='count')

In [10]:
pew_long

                    religion              income  count
0                   Agnostic               <$10k     27
1                    Atheist               <$10k     12
2                   Buddhist               <$10k     27
3                   Catholic               <$10k    418
4         Don’t know/refused               <$10k     15
5           Evangelical Prot               <$10k    575
6                      Hindu               <$10k      1
7    Historically Black Prot               <$10k    228
8          Jehovah's Witness               <$10k     20
9                     Jewish               <$10k     19
10             Mainline Prot               <$10k    289
11                    Mormon               <$10k     29
12                    Muslim               <$10k      6
13                  Orthodox               <$10k     13
14           Other Christian               <$10k      9
15              Other Faiths               <$10k     20
16     Other World Religions               <$10k      5
17              Unaffiliated               <$10k    217
18                  Agnostic             $10-20k     34
19                   Atheist             $10-20k     27
20                  Buddhist             $10-20k     21
21                  Catholic             $10-20k    617
22        Don’t know/refused             $10-20k     14
23          Evangelical Prot             $10-20k    869
24                     Hindu             $10-20k      9
25   Historically Black Prot             $10-20k    244
26         Jehovah's Witness             $10-20k     27
27                    Jewish             $10-20k     19
28             Mainline Prot             $10-20k    495
29                    Mormon             $10-20k     40
..                       ...                 ...    ...
150                    Hindu               >150k     54
151  Historically Black Prot               >150k     78
152        Jehovah's Witness               >150k      6
153                   Jewish               >150k    151
154            Mainline Prot               >150k    634
155                   Mormon               >150k     42
156                   Muslim               >150k      6
157                 Orthodox               >150k     46
158          Other Christian               >150k     12
159             Other Faiths               >150k     41
160    Other World Religions               >150k      4
161             Unaffiliated               >150k    258
162                 Agnostic  Don't know/refused     96
163                  Atheist  Don't know/refused     76
164                 Buddhist  Don't know/refused     54
165                 Catholic  Don't know/refused   1489
166       Don’t know/refused  Don't know/refused    116
167         Evangelical Prot  Don't know/refused   1529
168                    Hindu  Don't know/refused     37
169  Historically Black Prot  Don't know/refused    339
170        Jehovah's Witness  Don't know/refused     37
171                   Jewish  Don't know/refused    162
172            Mainline Prot  Don't know/refused   1328
173                   Mormon  Don't know/refused     69
174                   Muslim  Don't know/refused     22
175                 Orthodox  Don't know/refused     73
176          Other Christian  Don't know/refused     18
177             Other Faiths  Don't know/refused     71
178    Other World Religions  Don't know/refused      8
179             Unaffiliated  Don't know/refused    597

[180 rows x 3 columns]

In [11]:
billboard = pd.read_csv('../data/billboard.csv')

In [12]:
billboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
billboard_long = billboard.melt(id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
                               var_name='week',
                               value_name='rating')

In [14]:
billboard_long.sample(10)

,year,artist,track,time,date.entered,week,rating
6391,2000,"Carey, Mariah",Crybaby,5:19,2000-06-24,wk21,NaN
681,2000,"Brooks, Garth",Do What You Gotta Do,2:56,2000-02-19,wk3,72.0
4813,2000,Clark Family Experience,Meanwhile Back At Th...,2:56,2000-11-18,wk16,NaN
5965,2000,Shyne,Bad Boyz,4:22,2000-09-09,wk19,NaN
6381,2000,"Braxton, Toni",He Wasn't Man Enough,4:21,2000-03-18,wk21,11.0
2634,2000,Eve,Got It All,3:48,2000-07-15,wk9,NaN
14630,2000,"Byrd, Tracy",Put Your Hand In Min...,4:30,2000-01-29,wk47,NaN
3737,2000,Ruff Endz,No More,3:56,2000-07-01,wk12,8.0
11748,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,wk38,NaN
378,2000,Counting Crows,Hanginaround,4:07,1999-11-06,wk2,70.0

In [15]:
billboard.shape

(317, 81)

In [16]:
billboard_long.shape

(24092, 7)

In [21]:
billboard_long.groupby('artist')['rating'].mean().sort_values()

artist
Santana                         10.500000
Elliott, Missy "Misdemeanor"    14.333333
matchbox twenty                 18.641026
N'Sync                          18.648649
Janet                           19.416667
Destiny's Child                 19.750000
Ruff Endz                       19.923077
Pink                            20.067797
Aguilera, Christina             21.089552
Madonna                         21.515152
Blaque                          21.586207
Gray, Macy                      21.666667
Sonique                         22.125000
Dion, Celine                    24.857143
Mumba, Samantha                 25.090909
Vertical Horizon                26.709677
Dream                           26.892857
Next                            28.190476
Savage Garden                   28.377358
Jordan, Montell                 28.437500
Smash Mouth                     28.769231
Aaliyah                         30.269231
BBMak                           30.645161
Eiffel 65                       30.700000
Nelly                           30.882353
Ja Rule                         31.150000
Everclear                       31.190476
Badu, Erkyah                    32.350000
Sisqo                           32.567568
Hill, Faith                     32.731343
                                  ...
Hollister, Dave                 89.750000
Clark, Terri                    89.833333
2Ge+her                         90.000000
Trick Daddy                     90.090909
Cam'ron                         90.400000
Carter, Torrey                  90.571429
Moore, Chante                   92.111111
Madison Avenue                  92.650000
Juvenile                        93.166667
Funkmaster Flex                 93.571429
Spencer, Tracie                 93.666667
Tamar                           93.666667
Nu Flavor                       94.444444
Anastacia                       94.666667
En Vogue                        95.250000
Trina                           96.500000
Herndon, Ty                     96.625000
A*Teens                         97.000000
Hart, Beth                      97.166667
De La Soul                      97.333333
Sheist, Shade                   97.800000
Tuesday                         98.000000
Ghostface Killah                98.000000
Larrieux, Amel                  98.000000
Master P                        98.000000
Lil' Mo                         98.142857
LL Cool J                       98.500000
Zombie Nation                   99.000000
Fragma                          99.000000
Smith, Will                     99.000000
Name: rating, Length: 228, dtype: float64

In [22]:
ebola = pd.read_csv('../data/country_timeseries.csv')

In [24]:
ebola.tail()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
117,3/27/2014,5,103.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN,66.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN
118,3/26/2014,4,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,3/25/2014,3,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,3/24/2014,2,86.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,3/22/2014,0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
ebola_long = ebola.melt(id_vars=['Date', 'Day'], var_name='cd_country', value_name='count')

In [26]:
ebola_long.head()

         Date  Day    cd_country   count
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [27]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [31]:
x, y = [1, 2]

In [32]:
x + y

3

In [33]:
ebola_long[['case_death', 'country']] = ebola_long['cd_country'].str.split('_', expand=True)

In [34]:
ebola_long.head()

         Date  Day    cd_country   count case_death country
0    1/5/2015  289  Cases_Guinea  2776.0      Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0      Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0      Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN      Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0      Cases  Guinea

In [35]:
weather = pd.read_csv('../data/weather.csv')

In [36]:
weather.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
weather_melt = weather.melt(id_vars=['id', 'year', 'month', 'element'],
                           var_name='day',
                           value_name='temp')

In [41]:
weather_melt.head(50)

         id  year  month element day  temp
0   MX17004  2010      1    tmax  d1   NaN
1   MX17004  2010      1    tmin  d1   NaN
2   MX17004  2010      2    tmax  d1   NaN
3   MX17004  2010      2    tmin  d1   NaN
4   MX17004  2010      3    tmax  d1   NaN
5   MX17004  2010      3    tmin  d1   NaN
6   MX17004  2010      4    tmax  d1   NaN
7   MX17004  2010      4    tmin  d1   NaN
8   MX17004  2010      5    tmax  d1   NaN
9   MX17004  2010      5    tmin  d1   NaN
10  MX17004  2010      6    tmax  d1   NaN
11  MX17004  2010      6    tmin  d1   NaN
12  MX17004  2010      7    tmax  d1   NaN
13  MX17004  2010      7    tmin  d1   NaN
14  MX17004  2010      8    tmax  d1   NaN
15  MX17004  2010      8    tmin  d1   NaN
16  MX17004  2010     10    tmax  d1   NaN
17  MX17004  2010     10    tmin  d1   NaN
18  MX17004  2010     11    tmax  d1   NaN
19  MX17004  2010     11    tmin  d1   NaN
20  MX17004  2010     12    tmax  d1  29.9
21  MX17004  2010     12    tmin  d1  13.8
22  MX17004  2010      1    tmax  d2   NaN
23  MX17004  2010      1    tmin  d2   NaN
24  MX17004  2010      2    tmax  d2  27.3
25  MX17004  2010      2    tmin  d2  14.4
26  MX17004  2010      3    tmax  d2   NaN
27  MX17004  2010      3    tmin  d2   NaN
28  MX17004  2010      4    tmax  d2   NaN
29  MX17004  2010      4    tmin  d2   NaN
30  MX17004  2010      5    tmax  d2   NaN
31  MX17004  2010      5    tmin  d2   NaN
32  MX17004  2010      6    tmax  d2   NaN
33  MX17004  2010      6    tmin  d2   NaN
34  MX17004  2010      7    tmax  d2   NaN
35  MX17004  2010      7    tmin  d2   NaN
36  MX17004  2010      8    tmax  d2   NaN
37  MX17004  2010      8    tmin  d2   NaN
38  MX17004  2010     10    tmax  d2   NaN
39  MX17004  2010     10    tmin  d2   NaN
40  MX17004  2010     11    tmax  d2  31.3
41  MX17004  2010     11    tmin  d2  16.3
42  MX17004  2010     12    tmax  d2   NaN
43  MX17004  2010     12    tmin  d2   NaN
44  MX17004  2010      1    tmax  d3   NaN
45  MX17004  2010      1    tmin  d3   NaN
46  MX17004  2010      2    tmax  d3  24.1
47  MX17004  2010      2    tmin  d3  14.4
48  MX17004  2010      3    tmax  d3   NaN
49  MX17004  2010      3    tmin  d3   NaN

In [42]:
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [45]:
weather_tidy = (weather_melt
                .pivot_table(index=['id', 'year', 'month', 'day'],
                             columns='element',
                             values='temp')
                .reset_index()
               )

In [46]:
weather_tidy

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1  d30  27.8  14.5
1        MX17004  2010      2  d11  29.7  13.4
2        MX17004  2010      2   d2  27.3  14.4
3        MX17004  2010      2  d23  29.9  10.7
4        MX17004  2010      2   d3  24.1  14.4
5        MX17004  2010      3  d10  34.5  16.8
6        MX17004  2010      3  d16  31.1  17.6
7        MX17004  2010      3   d5  32.1  14.2
8        MX17004  2010      4  d27  36.3  16.7
9        MX17004  2010      5  d27  33.2  18.2
10       MX17004  2010      6  d17  28.0  17.5
11       MX17004  2010      6  d29  30.1  18.0
12       MX17004  2010      7   d3  28.6  17.5
13       MX17004  2010      7  d14  29.9  16.5
14       MX17004  2010      8  d23  26.4  15.0
15       MX17004  2010      8   d5  29.6  15.8
16       MX17004  2010      8  d29  28.0  15.3
17       MX17004  2010      8  d13  29.8  16.5
18       MX17004  2010      8  d25  29.7  15.6
19       MX17004  2010      8  d31  25.4  15.4
20       MX17004  2010      8   d8  29.0  17.3
21       MX17004  2010     10   d5  27.0  14.0
22       MX17004  2010     10  d14  29.5  13.0
23       MX17004  2010     10  d15  28.7  10.5
24       MX17004  2010     10  d28  31.2  15.0
25       MX17004  2010     10   d7  28.1  12.9
26       MX17004  2010     11   d2  31.3  16.3
27       MX17004  2010     11   d5  26.3   7.9
28       MX17004  2010     11  d27  27.7  14.2
29       MX17004  2010     11  d26  28.1  12.1
30       MX17004  2010     11   d4  27.2  12.0
31       MX17004  2010     12   d1  29.9  13.8
32       MX17004  2010     12   d6  27.8  10.5

In [47]:
import pandas as pd

In [49]:
t1 = pd.read_csv('../data/table1.csv')
t2 = pd.read_csv('../data/table2.csv')
t3 = pd.read_csv('../data/table3.csv')

In [53]:
# tidy this dataset
t2.head(1)

       country  year   type  count
0  Afghanistan  1999  cases    745

In [63]:
t2.pivot_table(index=['country', 'year'], columns='type', values='count').reset_index()#.drop(column='type')

type      country  year   cases  population
0     Afghanistan  1999     745    19987071
1     Afghanistan  2000    2666    20595360
2          Brazil  1999   37737   172006362
3          Brazil  2000   80488   174504898
4           China  1999  212258  1272915272
5           China  2000  213766  1280428583

In [54]:
# break up the rate column to count and pop columns
t3.head(1)

       country  year          rate
0  Afghanistan  1999  745/19987071

In [67]:
t3[['count', 'population']] = t3.rate.str.split('/', expand=True)

In [68]:
t3

       country  year               rate   count  population
0  Afghanistan  1999       745/19987071     745    19987071
1  Afghanistan  2000      2666/20595360    2666    20595360
2       Brazil  1999    37737/172006362   37737   172006362
3       Brazil  2000    80488/174504898   80488   174504898
4        China  1999  212258/1272915272  212258  1272915272
5        China  2000  213766/1280428583  213766  1280428583