In [4]:
def my_function(x):
    pass

In [5]:
def my_sq(x):
    return x ** 2

In [10]:
assert my_sq(2) == 4

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame({
    'a': [10, 20, 30],
    'b': [20, 30, 40]
})

In [13]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [16]:
df['a'] ** 2

0    100
1    400
2    900
Name: a, dtype: int64

In [19]:
my_sq

In [18]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [23]:
def my_exp(x, e):
    return x ** e

In [27]:
df['a'].apply(my_exp, e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [31]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [28]:
def print_me(x):
    print(x)

In [34]:
df.apply(print_me)

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64

a    None
b    None
dtype: object

In [35]:
def avg_3(x, y, z):
    return(x + y + z) / 3

In [36]:
df.apply(avg_3)

TypeError: ("avg_3() missing 2 required positional arguments: 'y' and 'z'", 'occurred at index a')

In [38]:
import numpy as np

In [39]:
def avg_3_apply(col):
    return np.mean(col)

In [40]:
df.apply(avg_3_apply)

a    20.0
b    30.0
dtype: float64

In [41]:
df.apply(np.mean)

a    20.0
b    30.0
dtype: float64

In [42]:
def avg_3(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return(x + y + z) / 3

In [46]:
(df['a'] + df['b']) / 2

0    15.0
1    25.0
2    35.0
dtype: float64

In [47]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [49]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN # np.nan or np.NAN
    else:
        return (x + y) / 2

In [51]:
avg_2_mod(20, 100)

nan

In [52]:
avg_2_mod(5, 10)

7.5

In [53]:
avg_2_mod(df['a'], df['b'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [54]:
import numpy as np

In [56]:
avg_2_mod_vec = np.vectorize(avg_2_mod)

In [58]:
avg_2_mod_vec(df['a'], df['b'])

array([15., nan, 35.])

In [59]:
@np.vectorize
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN # np.nan or np.NAN
    else:
        return (x + y) / 2

In [62]:
avg_2_mod(df['a'], df['b'])

array([15., nan, 35.])

In [63]:
import numba

In [77]:
@numba.vectorize
def avg_2_mod_numbda(x, y):
    if (x == 20):
        return np.NaN # np.nan or np.NAN
    else:
        return (x + y) / 2

In [78]:
avg_2_mod_numbda(df['a'].values, df['b'].values)

array([15., nan, 35.])

In [75]:
%%timeit
avg_2_mod(df['a'], df['b'])

191 µs ± 9.97 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [79]:
%%timeit
avg_2_mod_numbda(df['a'].values, df['b'].values)

7.52 µs ± 87.9 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)